body {
    background-color: grey;
}

.caja {
    border: 5px solid black;
    background: red;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    height: 150px;
    width: 150px;
    text-align: center;
    flex-grow: 2;
    order: 3;
    border-radius: 20px;

}

.caja2 {
    border: 5px solid black;
    background: yellowgreen;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    height: 150px;
    width: 150px;
    text-align: center;
    flex-grow: 5;
    order: 2;
    border-radius: 20px;

}

.caja3 {
    border: 5px solid black;
    background: blueviolet;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    height: 150px;
    width: 150px;
    text-align: center;
    flex-grow: 2;
    order: 1;
    border-radius: 20px;

}

.flex-container {
    width: 70%;
    height: 500px;
    display: flex;
    border: 2px solid black;
    padding: 20px;
    background: aquamarine;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}